<header class="fixed top-0 left-0 right-0 z-50 bg-black">
  <nav class="flex items-center justify-between gap-4 p-4 text-white">
    <div class="flex lg:flex-1 w-24 bg-radial justify-center">
      <a href="/create-code-and-judge-code-with-llms/">
        <img class="w-24" src="/create-code-and-judge-code-with-llms/frontend/imgs/logo-gpt-vs-gemini.png" alt="gemini vs chatgpt" />
      </a>
    </div>
    <div class="flex flex-auto justify-center">
      <a href="/create-code-and-judge-code-with-llms/">
        Introdução
      </a>
    </div>
    <div class="flex flex-auto justify-center">
      <a href="/create-code-and-judge-code-with-llms/frontend/dev/">
        Desenvolvimento
      </a>
    </div>
    <div class="flex flex-auto justify-center">
      <a href="/create-code-and-judge-code-with-llms/frontend/docs/">
        Questões do The Huxley
      </a>
    </div>
  </nav>
</header>
